<div class="beer-image">
    <img src="/images/beer.png">
    <br><br>
    <a href="/beers" class="button">Check the beers!</a>
    <br><br>
    <a href="/random-beer" class="button">Check a Random Beer!</a>
</div>