<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lab-Ironbeers</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>

<body>
</body>
<div class="navbar-nav">
    <a class="nav-link" href="/">Home</a>
    <a class="nav-link" href="/beers">Beers</a>
    <a class="nav-link" href="/random-beer">Random Beer</a>
</div>

<main>
    {{{body}}}
</main>
</body>

<footer>
    <div class="footer">
        <p>Developed by Ironhack</p>
    </div>

</footer>

</html>